<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
  
  <servlet>
    <servlet-name>KeyGenerationServiceImpl</servlet-name>
    <servlet-class>edu.ucdavis.cs.cfgproject.server.rpc.KeyGenerationService</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>KeyGenerationServiceImpl</servlet-name>
    <url-pattern>/cfgproject/keyGeneration</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>CfgProject.html</welcome-file>
  </welcome-file-list>

</web-app>
